.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 110px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.modal {
    border: none;
    border-radius: 6px;
    box-shadow: 0px 2px 8px raba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 0;
    z-index: 1;
}